@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    background-color: #d9dbde5b;
}

.resultatEntries {
    width: 80px;
    height: 30px;
    /* margin: 20px; */
    background-color: #ccc;
}